PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# MongoDB Connection (Replace with your MongoDB Atlas URI or local instance)
MONGODB_URI=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Authentication Secret
JWT_SECRET=
